# Eclipse
.classpath
.project
.settings/

# Intellij
.idea/
*.iml
*.eml
*.iws

### NetBeans ###
nbproject/private/
build/
nbbuild/
dist/
nbdist/
.nb-gradle/

# Package Files
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar

# Compiled class file
*.class

# Log file
*.log

# Mac
.DS_Store

# Maven
log/
target/

### Gradle ###
.gradle
/build/

# Ignore Gradle GUI config
gradle-app.setting

# Avoid ignoring Gradle wrapper jar file (.jar files are usually ignored)
!gradle-wrapper.jar

# Cache of project
.gradletasknamecache

# Executable Files
*.exe

# Excel Files
*.xls
*.xlsx
